<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html>
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Scan links in real-time</title>

	<!-- SCROLLS -->
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>

</head>
<!-- SET THE CONTROLLER -->
<body>
	<div class="container">

		<!-- HEADER AND TODO COUNT -->
		<div class="jumbotron text-center">
			<h3>Enter URL to know more..!!</h3>
		</div>

		<!-- FORM TO CREATE TODOS -->
		<div id="todo-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="Ex: http://www.example.com/xyz" ng-model="formData.text">
					</div>

					<!-- createToDo() WILL CREATE NEW TODOS -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Get</button>
				</form>
			</div>
		</div>

		<div class="text-center text-muted">
			<p>Designed & Developed by <a href="https://www.linkedin.com/in/sivaramakrishna7/">Siva</a>.</p>
		</div>

	</div>

</body>
</html>
